<div class="modal fade" id="uploadModal_popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-rocket"></i> Image Uploading...</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal_popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-send-o"></i> 이미지 등록</h4>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-3 col-lg-3">
                            <label>제목</label>
                        </div>
                        <div class="col-xs-6">
                            <input id="name_popup" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-lg-3">
                            <label>종류</label>
                        </div>
                        <div class="col-xs-6 col-lg-6">
                            <select id="category_popup">
                                <option value="0" selected>영수증</option>
                                <option value="1">명함</option>
                                <option value="2">기타</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-lg-3">
                            <label>이미지</label>
                        </div>
                        <div class="col-xs-6 col-lg-6">
                            <input type='file' id="imgInp_popup" accept=".gif, .jpg, .png"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-lg-3">
                            <label>미리보기</label>
                        </div>
                        <div class="col-xs-6 col-lg-6">
                            <img id="blah_popup" class="thumbnail" width="200px" height="200px" src="#" alt="your image" border="3" />
                            <div id="canvas-wrapper" style="display: block;"></div>
                        </div>
                    </div>
                    <div class="box-footer" align="right">
                        <button type="submit" class="btn btn-primary" id="register_popup">등록하기</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
                    </div>
            </div>
        </div>
    </div>
</div>

<script>
//        $(function() {
//            $("#imgInp_popup").on('change', function(){
//                readURL(this);
//            });
//        });
//
//function readURL(input) {
//    if (input.files && input.files[0]) {
//        var reader = new FileReader();
//
//        reader.onload = function (e) {
//            $('#blah_popup').attr('src', e.target.result);
//        }
//        reader.readAsDataURL(input.files[0]);
//    }
//}
        $('document').ready(function(){
            $('#addModal_popup').modal()
            $('#blah_popup').attr('src', "asd.png");
            $("#imgInp_popup").on('change',function () {
                if(typeof (FileReader) != "undefined"){
                    var fileReader = new FileReader();
                    fileReader.onload = function (event) {
                        $('#canvas-wrapper').empty();
                        $('#blah_popup').empty();
                        var canvas = document.createElement('canvas');
                        canvas.id = "original-image";
                        document.getElementById("canvas-wrapper").appendChild(canvas);
                        Caman("#original-image",event.target.result,function () {
//                            this.exposure(100);
//                            this.greyscale();
//                            this.brightness(50);
//                            this.contrast(50);
//                            this.sharpen(100);
                            this.newLayer(function () {
                                this.setBlendingMode('softLight');
//                                this.opacity(10);
                                this.fillColor('#f49600');
                            });
                            this.render(function () {
                                $('#blah_popup').attr('src',document.getElementById('original-image').toDataURL());
                                $('#canvas-wrapper').empty();
                            });
                        });
                    };
                    fileReader.readAsDataURL($(this)[0].files[0]);
                }else{
                    alert("This browser does not support FileReader!");
                }
            });
            $('#register_popup').click(function (event) {
               var file = document.getElementById("imgInp_popup").files[0]
                event.preventDefault();
                var formData = new FormData();
                formData.append('file', file);
                formData.append('category', $('#category_popup option:selected').val())
                formData.append('name', $('#name_popup').val())
                $.ajax({
                    url: '../image_upload',
                    data: formData,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    beforeSend: function (data) {
                        $('#addModal_popup').modal('hide')
                        $('#uploadModal_popup').modal({backdrop: 'static', keyboard: false})
                    },
                    success: function (data) {
                        if(data < 0){
                            if(data == -1){
                                alert("Server Error!!!")
                            }else{
                                alert("Client Error!!! Try Again!")
                            }
                        }else {
                            //call your jQuery action here
                               // location.reload()
                        }
                    },
                    complete:function(){
                        $('#uploadModal_popup').modal('hide')
                        $('#uploadModal_popup').on('hidden.bs.modal', function (e) {
                            $.pjax.reload('.content-wrapper')
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus + ': ' + errorThrown);
                    }
                });
                return false;
            });
        });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.js"></script>

