<div class="modal fade" id="confirmModal_popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-rocket"></i> 패스워드를 입력 해 주세요</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-3 col-lg-3">
                        <label>Passwd</label>
                    </div>
                    <div class="col-xs-6">
                        <input type="password" id="passwd">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirm_popup">확인</button>
                <button type="button" data-dismiss="modal" class="btn">취소</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal_popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-send-o"></i>계정 삭제</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-5 col-lg-5">
                        <label>정말 삭제 하시겠습니까?</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="delete_btn">계정 삭제</button>
                <button type="button" class="btn" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>

<script>

    $('document').ready(function(){
        $('#confirmModal_popup').modal('show');
        $('#confirm_popup').click(function(){
            var pass = $('#passwd').val();
            $.ajax({
                url: '../check_account',
                contentType: "application/json;charset=utf-8",
                data:JSON.stringify({passwd:pass}),
                type: 'POST',
                success:function(data){
                    if(data == "1"){
                        $('#deleteModal_popup').modal('show')
                    }else{
                        alert("비밀번호가 틀립니다.");
                    }
                },
                complete:function(){
                    $('#confirmModal_popup').modal('hide');
                },
                error:function(){
                    alert("error");
                    $('#confirmModal_popup').modal('hide');
                }
            })
        })

        $('#delete_btn').click(function(){
            $.ajax({
                url:'../delete_account',
                type:'GET',
                success:function(data){
                    if(data == "1"){
                        sessionStorage.clear()
                        location.href = "index.html"
                    }else{
                        alert("계정삭제 error");
                        $('#deleteModal_popup').modal('hide')
                    }
                },
                error:function(){
                    alert("error");
                    $('#deleteModal_popup').modal('hide')
                }
            })
        })
        return false;
    });
</script>

