
<section class="content-header">
    <h1>분류<small>메인화면</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard "></i> Home</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <form class="form-inline">
                <div class="info-box" id="receipt_box">
                    <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">영수증</span>
                        <span class="info-box-number" id="receipt_number"></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>

                <div class="info-box" id="business_card_box">
                    <span class="info-box-icon bg-green"><i class="fa fa-google-plus"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">명함</span>
                        <span class="info-box-number" id="business_card_number"></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>

                <div class="info-box" id="etc_box">
                    <span class="info-box-icon bg-gray"><i class="ion ion-ios-people-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">기타</span>
                        <span class="info-box-number" id="etc_number"></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>

            </form>
        </div>
        <!-- 왼쪽 -->

        <!-- DONUT CHART -->
        <div class="col-md-5 col-sm-5 col-xs-5">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">사용자 활용 차트</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <canvas id="pieChart" style="height:250px"></canvas>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        <!-- end Donut -->
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title" align="center">최근 이미지</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                <img id="last_img" src="asd.png" class="img-lg" width="304px" height="210px" >

                    <div class="row" align="center">
                        <h4 id="last_ocr"></h4>
                    </div>
                </div>
        </div>
            </div>

    </div>
    <div class="row">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <!--페이지-->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!--페이지-->

                    <div class="carousel-inner">
                        <!--슬라이드1-->
                        <div class="item active">
                            <img src="images/1.jpg" height="200px" style="width:100%"  alt="First slide">
                            <div class="container">
                                <div class="carousel-caption">
                                    <p>테스트 단계</p>
                                </div>
                            </div>
                        </div>
                        <!--슬라이드1-->
                        <!--슬라이드2-->
                        <div class="item">
                            <img src="images/2.jpg" style="width:100%" data-src="" alt="Second slide">
                            <div class="container">
                                <div class="carousel-caption">
                                    <p>클릭</p>
                                </div>
                            </div>
                        </div>
                        <!--슬라이드2-->

                        <!--슬라이드3-->
                        <div class="item">
                            <img src="http://www.calyxt.com/wp-content/uploads/2014/09/project-banner1-1200x300.jpg" style="width:100%" data-src="" alt="Third slide">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Slide 3</h1>
                                    <p>텍스트 3</p>
                                </div>
                            </div>
                        </div>
                        <!--슬라이드3-->
                    </div>

                    <!--이전, 다음 버튼-->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
        <!--<img src="asd.png" width="1400" height="350">-->
    </div>
</section>

<script>
    $('document').ready(function(){
        $.ajax({
            url:"/count_all_category",
            type:"GET",
            success:function(data){
                if(data == "0"){
                    alert("count_all_category error!")
                }else {
                    var list = data.split("/")
                    var receipt = parseInt(list[0])
                    //alert(isString(receipt))
                    var business_card = parseInt(list[1])
                    var etc = parseInt(list[2])

                    $('#receipt_number').html('<small>' + receipt + " 개</small>")
                    $('#business_card_number').html('<small>' + business_card + " 개</small>")
                    $('#etc_number').html('<small>' + etc + " 개</small>")


                    //-------------
                    //- PIE CHART -
                    //-------------
                    // Get context with jQuery - using jQuery's .get() method.
                    var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
                    var pieChart = new Chart(pieChartCanvas);
                    var PieData = [
                        {
                            value: receipt,
                            color: "#f56954",
                            highlight: "#f56954",
                            label: "영수증"
                        },
                        {
                            value: business_card,
                            color: "#00a65a",
                            highlight: "#00a65a",
                            label: "명함"
                        },
                        {
                            value: etc,
                            color: "#f39c12",
                            highlight: "#f39c12",
                            label: "기타"
                        }
                    ];
                    var pieOptions = {
                        //Boolean - Whether we should show a stroke on each segment
                        segmentShowStroke: true,
                        //String - The colour of each segment stroke
                        segmentStrokeColor: "#fff",
                        //Number - The width of each segment stroke
                        segmentStrokeWidth: 2,
                        //Number - The percentage of the chart that we cut out of the middle
                        percentageInnerCutout: 50, // This is 0 for Pie charts
                        //Number - Amount of animation steps
                        animationSteps: 100,
                        //String - Animation easing effect
                        animationEasing: "easeOutBounce",
                        //Boolean - Whether we animate the rotation of the Doughnut
                        animateRotate: true,
                        //Boolean - Whether we animate scaling the Doughnut from the centre
                        animateScale: false,
                        //Boolean - whether to make the chart responsive to window resizing
                        responsive: true,
                        // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                        maintainAspectRatio: true,
                        //String - A legend template
                        legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"
                    };
                    //Create pie or douhnut chart
                    // You can switch between pie and douhnut using the method below.
                    pieChart.Doughnut(PieData, pieOptions);
                }
            },
            complete:function(data){
                $.ajax({
                    url:"../last_image",
                    type:"GET",
                    dataType:"JSON",
                    success:function(data){
                        if(data == "0"){
                            alert("last_image error!")
                        }else{
                            $('#last_img').attr("src", "../image_download?key="+data.uuid)
                            if(data.ocr.length > 20){
                                $('#last_ocr').text(data.ocr.substring(0,20))
                            }else {
                                $('#last_ocr').text(data.ocr)
                            }
                        }
                    }
                })
            },
            error:function(data){
                alert("error!")
            }
        })
        $('#receipt_box').click(function(){
            $.pjax({url:'list_table.html?q=1', container:'.content-wrapper'})
        })
        $('#business_card_box').click(function(){
            $.pjax({url:'list_table.html?q=2', container:'.content-wrapper'})
        })
        $('#etc_box').click(function(){
            $.pjax({url:'list_table.html?q=3', container:'.content-wrapper'})
        })
        $('.carousel').carousel()


        return false;
    });
    $("#starter").click(function () {
        $('.content').load("./starter.html");
        ChkHash(id);
    });
    $("#notice").click(function () {
        $('.content').load("./notice.html");
    });
    $("#chacc").click(function () {
        $('.content').load("./chacc.html");
    });
    $("#test_button1").click(function(){
        $("#test_p1").toggle(200);
    });
    $("#test_button2").click(function () {
        $("#test_p2").toggle(200);
    });
    $("#test_button").click(function(){
        $("#test_p").toggle(200);
    });
    $('#receipt').click(function(){
        $('.content').load("./list_table.html")
    })

    $('#dissertation').click(function(){
        $('.content').load("./list_table.html .container")
    })

    $('#Business_card').click(function(){
        $('.content').load("./list_table.html .container")
    })

    $('#Handwriting').click(function(){
        $('.content').load("./list_table.html .container")
    })
    function ChkHash(id) {
        // id가 있으면 해쉬저장
        if( id ) {
            document.location.hash = id;
            location.href = "이동할파일?id=' + id";
        }
    };
</script>
