
<div class="row">
     <br/><br/>
     <div class="col-md-12">
         <div class="box box-info">
             <div class="box-header">
                 <i class="fa fa-pencil" aria-hidden="true"></i>
                 <h3 class="box-title">글쓰기</h3>
             </div>
             <div class="box-body pad">
                 <div class="row margin-bottom">
                     <div class="form-inline form-group">
                         <div class="col-sm-6">
                             <label for="title">제목</label>
                             <input class="form-control" name="title" type="text" id="title" style="width: 90%"></div>
                         <div class="col-sm-6">
                             <label>분류</label>
                             <select id="category" class="form-control fixed">
                                 <option value="0">공지사항</option>
                                 <option value="1">업데이트</option>
                                 <option value="2">커뮤니티</option>
                             </select>
                         </div>
                     </div>
                 </div>
                 <div class="row">
                     <form class="margin">
                         <textarea id="contents" class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                     </form>
                 </div>
             </div>
             <div class="box-footer">
                 <div class="pull-right">
                     <button type="button" class="btn btn-info" id="insertbutton">등록하기</button>
                     <button type="button" class="btn btn-danger" id="canclebutton">취소</button>
                 </div>
             </div>
         </div>
     </div>
 </div>
<script>
    $(function () {

    });
    $('document').ready(function(){
        $('#canclebutton').click(function() {
            alert("test");
        });
        $("#insertbutton").click(function() {
            alert("test");
            var titles = $('#title').val();
            var contents = $('#contents').val().substring(3, $('#contents').val().lastIndexOf('<',$('#contents').val().length));
            var categorys = $("#category option").index($("#category option:selected"));
            $.ajax({
                type: 'POST',
                url: '../board_insert',
                contentType: "application/json;charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({titles:titles,contents:contents, categorys:categorys}),
                success: function (data) {
                    //call your jQuery action here
                    alert('Upload completed: ' + data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }
            });
        });
        return false;
    });

</script>
